.caixa {

	width: 400px;
	background: #dedede url(imagens/fundoarredondado.png)repeat-y;
	
}
.caixa p{
	padding: 0 20px;
	margin-bottom: 0;
}
 .caixa h2{
	padding: 10px 20px 0 20px;
	background: url(imagens/topo2.png)no-repeat left top;

}

.caixa .ultimo {
	background: url(imagens/baixo2.png)no-repeat left bottom;
	padding-bottom: 20px;

}

